
/* CSS by ID */
#firstPara{
   color: violet;
}

/* CSS by class */
.secondPara
{
   font-size: larger;
   color: chocolate;
   
}
/* CSS by TAG */
h1{
   color: rgb(25, 168, 27);
}

pre,option,#firstPara
{
   background-color: rgb(134, 117, 117);
   color: rgb(38, 42, 74);
   font-style: italic;
}
